<div class="container-fluid vh-100 mt-3 d-flex justify-content-center align-items-center">
    <div class="row rounded shadow bg-white overflow-hidden" style="max-width: 1000px; width: 80%;">

        <!-- Imagen lateral -->
        <div class="col-md-6 p-0 d-none d-md-block">
            <img src="./assets/img/fondo.png" alt="Imagen de Login" class="img-fluid h-100 object-fit-cover">
        </div>

        <!-- Formulario -->
        <div class="col-md-6 p-4 d-flex flex-column justify-content-center">
            <h1 class="mb-4 text-center">
                Recuperación <span class="text-secondary fw-light">◇</span>
            </h1>

            <!-- Campo de código -->
            <div class="mb-3">
                <label for="password" class="form-label">Código</label>
                <input type="password" class="form-control" id="password" placeholder="********">
                <small class="form-text text-muted">
                    Ingresa el código que te enviamos por correo electrónico.
                </small>
            </div>

            <!-- Botón de confirmar -->
            <button type="submit" class="btn btn-outline-secondary w-100 mb-3">
                Confirmar
            </button>

            <!-- Separador -->
            <div class="d-flex align-items-center mb-3">
                <hr class="flex-grow-1">
                <span class="mx-2 text-secondary">O</span>
                <hr class="flex-grow-1">
            </div>

            <!-- Botón de reenvío -->

            <div class="text-center mb-2">
                <span class="text-muted">Reintentar en {{ currentTime }}s</span>
        </div>

        <button class="btn btn-outline-secondary w-100" [disabled]="isDisabled" (click)="reenviarCodigo()">
            Volver a enviar
        </button>



        <small class="d-block text-center text-muted mt-2">
            ¿No recibiste el código? Puedes reenviarlo después de unos minutos.
        </small>
    </div>
</div>
</div>