<nav class="navbar navbar-expand-lg navbar-light fixed-top ">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="./assets/img/Logoprincipal.png" alt="Logo" width="40" class="d-inline-block align-top">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn btn-quienes" href="javascript:void(0)" [routerLink]="['tienda']"
                        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-quienes" href="javascript:void(0)" [routerLink]="['sobrenosotros']"
                        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Quienes Somos</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-quienes" href="javascript:void(0)" [routerLink]="['contacto']"
                        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contacto</a>
                </li>
                <li class="nav-item">
                       <a class="btn btn-quienes" href="javascript:void(0)" [routerLink]="['terminos']"
                        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Términos y Condiciones</a>
                </li>
                <li class="nav-item">
                      <a class="btn btn-quienes" href="javascript:void(0)" [routerLink]="['politicas']"
                        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Política de Privacidad</a>
                </li>
                <li class="nav-item  ">
                    <a class="btn btn-login" href="javascript:void(0)" [routerLink]="['login']"
                        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Iniciar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>