<aside #sidebar
           class="bg-dark border-end d-flex flex-column ps-4 pt-3"
           id="sidebar"
           style="width: 280px; height: 100vh; overflow-y: auto;">

    <div class="d-flex align-items-center justify-content-between mb-4">
      <div class="d-flex align-items-center">
        <i class="bi bi-speedometer2 fs-3 me-2 text-primary"></i>
        <span class="fs-5 fw-bold text-white" id="sidebarTitle">Mi Gym</span>
      </div>
    </div>

    <hr class="text-secondary mb-3">

    <ul class="nav flex-column mb-3">
      <li class="nav-item">
        <strong class="text-secondary ms-3">Gestión de Personas</strong>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/admin/clientes']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-person-lines-fill me-2"></i> <span class="ms-2 sidebar-text">Clientes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white"  href="javascript:void(0)" [routerLink]="['/admin/entrenadores']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-person-arms-up me-2"></i> <span class="ms-2 sidebar-text">Entrenadores</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white"  href="javascript:void(0)" [routerLink]="['/admin/perfiluser']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-person-fill me-2"></i> <span class="ms-2 sidebar-text">Perfil de Usuario</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white"  href="javascript:void(0)" [routerLink]="['/admin/roles']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-person-gear me-2"></i> <span class="ms-2 sidebar-text">Roles y Permisos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white"  href="javascript:void(0)" [routerLink]="['/admin/autenticacion']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-fingerprint me-2"></i> <span class="ms-2 sidebar-text">Autenticación</span>
        </a>
      </li>

      <hr class="text-secondary my-3">

      <li class="nav-item">
        <strong class="text-secondary ms-3">Gestión de Productos</strong>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/admin/productos']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
          <i class="bi bi-box-seam me-2"></i> <span class="ms-2 sidebar-text">Productos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/admin/carrito']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-cart-fill me-2"></i> <span class="ms-2 sidebar-text">Carrito</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/admin/bodega']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-box2-fill me-2"></i> <span class="ms-2 sidebar-text">Bodega</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/admin/inventario']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-list-check me-2"></i> <span class="ms-2 sidebar-text">Inventario</span>
        </a>
      </li>

      <hr class="text-secondary my-3">

      <li class="nav-item">
        <strong class="text-secondary ms-3">Operaciones y Servicios</strong>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/admin/gestionequipo']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-tools me-2"></i> <span class="ms-2 sidebar-text">Gestión de Equipamiento</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/admin/rutinas']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-clock-fill me-2"></i> <span class="ms-2 sidebar-text">Rutinas</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/admin/agendar']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-calendar-plus-fill me-2"></i> <span class="ms-2 sidebar-text">Agendar Cita</span>
        </a>
      </li>

      <hr class="text-secondary my-3">

      <li class="nav-item">
        <strong class="text-secondary ms-3">Informes y Comunicación</strong>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/admin/informes']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-file-earmark-bar-graph-fill me-2"></i> <span class="ms-2 sidebar-text">Informes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/admin/pqrsd']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-envelope-fill me-2"></i> <span class="ms-2 sidebar-text">PQRSD</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/admin/contactenos']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-telephone-fill me-2"></i> <span class="ms-2 sidebar-text">Contáctenos</span>
        </a>
      </li>

      <hr class="text-secondary my-3">

      <li class="nav-item">
        <strong class="text-secondary ms-3">Configuración y Seguridad</strong>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white"  href="javascript:void(0)" [routerLink]="['/admin/seguridad']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-shield-lock-fill me-2"></i> <span class="ms-2 sidebar-text">Seguridad</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/admin/configuracion']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-gear-fill me-2"></i> <span class="ms-2 sidebar-text">Configuración</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/admin/auditoria']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-search me-2"></i> <span class="ms-2 sidebar-text">Auditoría</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/admin/terminos']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-file-earmark-text-fill me-2"></i> <span class="ms-2 sidebar-text">Términos y Condiciones</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" [routerLink]="['/']"
                           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-file-earmark-text-fill me-2"></i> <span class="ms-2 sidebar-text">logout</span>
        </a>
      </li>
    </ul>
  </aside>