<section class="py-3 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="row rounded shadow bg-white overflow-hidden">
          <div class="col-md-5 p-0 d-none d-md-block">
            <img src="./assets/img/fondo.png" alt="Imagen de Registro" class="img-fluid h-100 object-fit-cover">
          </div>
          <div class="col-md-7 p-4 d-flex flex-column justify-content-center">
            <h1 class="mb-4 text-center">Registro <span class="text-secondary fw-light">◇</span></h1>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" id="username" formControlName="username" placeholder="Tu nombre de usuario">
                <div *ngIf="registerForm.controls['username'].invalid && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)" class="error-message text-danger">
                  Nombre de usuario es requerido.
                </div>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="max@yahoo.com">
                <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" class="error-message text-danger">
                  <div *ngIf="registerForm.controls['email'].errors?.['required']">Email es requerido.</div>
                  <div *ngIf="registerForm.controls['email'].errors?.['email']">Email no válido.</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="********">
                <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="error-message text-danger">
                  Contraseña es requerida.
                </div>
              </div>
              <button class="btn btn-dark mb-2 w-100" [disabled]="registerForm.invalid">Registrarse</button>
              <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-50">
                <span class="mx-2 text-secondary">O</span>
                <hr class="w-50">
              </div>
              <a routerLink="/login" class="btn btn-outline-secondary w-100" style="text-decoration: none;">
                ¿Ya tienes una cuenta?
                <p>Iniciar Sesión</p>
              </a>
            </form>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>