<div class="layout">
  <aside>
    <app-admin></app-admin>
  </aside>

  <div class="container">
    <div class="card product-form">
      <h2><i class="fas fa-user-plus"></i> Agregar Cliente</h2>
      <form (ngSubmit)="agregarCliente()">
        <div class="form-group">
          <label for="name"><i class="fas fa-signature"></i> Nombre</label>
          <input id="name" [(ngModel)]="nuevoCliente.nombre" name="nombre" placeholder="Nombre del cliente" required />
        </div>

        <div class="form-group">
          <label for="description"><i class="fas fa-map-marker-alt"></i> Dirección</label>
          <input id="description" [(ngModel)]="nuevoCliente.direccion" name="direccion" placeholder="Dirección del cliente" />
        </div>

        <div class="form-group">
          <label for="price"><i class="fas fa-phone"></i> Teléfono</label>
          <input id="price" type="tel" [(ngModel)]="nuevoCliente.telefono" name="telefono" placeholder="Teléfono del cliente" />
        </div>

        <div class="form-group">
          <label for="image"><i class="fas fa-envelope"></i> Correo Electrónico</label>
          <input id="image" type="email" [(ngModel)]="nuevoCliente.correo" name="correo" placeholder="Correo del cliente" required />
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Agregar Cliente</button>
          <button type="button" class="btn btn-secondary" (click)="nuevoCliente = { nombre: '', direccion: '', telefono: '', correo: '' }"><i class="fas fa-times-circle"></i> Cancelar</button>
        </div>
      </form>
    </div>

    <div class="product-list">
      <h2><i class="fas fa-users"></i> Lista de Clientes</h2>

      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes; index as i">
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.correo }}</td>
            <td class="actions-column">
              <button class="btn btn-edit" (click)="editarCliente(i)"><i class="fas fa-edit"></i> Editar</button>
              <button class="btn btn-delete" (click)="eliminarCliente(i)"><i class="fas fa-trash-alt"></i> Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>