<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="row rounded shadow bg-white overflow-hidden" style="max-width: 1000px; width: 80%;">
        <div class="col-md-6 p-0 d-none d-md-block">
            <img src="./assets/img/fondo.png" alt="Imagen de Login" class="img-fluid h-100 object-fit-cover">
        </div>
        <div class="col-md-6 p-4 d-flex flex-column justify-content-center">
            <h1 class="mb-4">Login <span class="text-secondary fw-light">◇</span></h1>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="max@yahoo.com">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="********">
            </div>
            <div class="mb-3">
                <a href="#" class="text-secondary " style="text-decoration: none;">¿Olvidaste tu contraseña?</a>
            </div>
            <button class="btn btn-dark mb-2 w-100">Login</button>
            <button  (click)="loginWithGoogle()" class="btn btn-outline-secondary w-100 mb-3">
                <i class="bi bi-google"></i>
                Login with Google 
            </button>
            <div class="d-flex justify-content-center align-items-center mb-3">
                <hr class="w-50">
                <span class="mx-2 text-secondary">O</span>
                <hr class="w-50">
            </div>
            <a  class="btn btn-outline-color w-100" href="javascript:void(0)" [routerLink]="['register']"
                        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Registrar</a>
        </div>
    </div>
</div>