<footer class="bg-light text-center text-lg-start mt-auto">
    <div class="container py-4">
      <div class="row align-items-center border-top pt-3">
        <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0">
          <p class="mb-0 text-body-secondary">© 2025 Shufit</p>
        </div>
  
        <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
          <a
            href="/"
            class="d-inline-flex align-items-center justify-content-center link-body-emphasis text-decoration-none"
          >
            
          </a>
        </div>
  
        <div class="col-12 col-md-4">
          <ul class="nav justify-content-center justify-content-md-end">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link px-2 text-body-secondary" [routerLink]="['products']">
                Términos y Condiciones
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link px-2 text-body-secondary" [routerLink]="['users']">
                Políticas de Seguridad
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link px-2 text-body-secondary" [routerLink]="['cart']">
                Contacto
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  